<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Minha Página</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>
<body>

    <h1>Bem-vindo à Minha Página!</h1>
    
    <p>Esta é uma página de exemplo usando Thymeleaf.</p>
    
    <!-- Exemplo de uso de variáveis do Thymeleaf -->
    <p>Olá, <span>Visitante</span>!</p>
    
    <!-- Exemplo de uso de diretivas do Thymeleaf -->
    <div>
        <p>Você é um administrador.</p>
    </div>
    <div>
        <p>Você não é um administrador.</p>
    </div>

    <div class="container justify-content-center">
        <div class="justify-content-center">
            <div class="bg-secondary opacity-20 p-4 rounded-top">
                <h1 class="text-center">Vagas
                </h1>
            </div>
            <div>
                    <td><a th:href="@{/vaga/listaVaga}" class="btn btn-primary">Listar Vagas</a></td>
                    <td><a th:href="@{/cadastrarVaga}" class="btn btn-success">Cadastrar Vagas</a></td>
                </tr>
            </div>
        </div>
    </div>
    
    

</body>
</html>
