<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Minha Página</title>
</head>
<body>

    <h1>Bem-vindo à Minha Página!</h1>
    
    <p>Esta é uma página de exemplo usando Thymeleaf.</p>
    
    <!-- Exemplo de uso de variáveis do Thymeleaf -->
    <p>Olá, <span>Visitante</span>!</p>
    
    <!-- Exemplo de uso de diretivas do Thymeleaf -->
    <div>
        <p>Você é um administrador.</p>
    </div>
    <div>
        <p>Você não é um administrador.</p>
    </div>

</body>
</html>
